#hide {
  display: none;
}
/* #show {
  display: flex;
} */
.content_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.content_top::after {
  width: 100%;
  height: 1px;
  background-color: black;
}

.content_top span,
.content p{
  /* text-align: center; */
  font-size: 150%;
}


.title {
  display: block;
  border-bottom: 1px solid gray;
}

.boardContent {
  padding: 5px;
  border-bottom: 1px solid gray;
}

.boardContent:last-child {
  border-bottom: 2px solid black;
}