/* board_css */

#board {
  display: block;
  /* background: yellow; */
}

.board_list {
  width: 100%;
  border-top: 1px solid black;
}

.board_list>.div {
  font-size: 0;
}

.board_list>div.board_top{
  border-bottom: 1px solid #999;
}

.board_list>div:last-child {
  border-bottom: 1px solid #000;
}

.vText,
.vContent{
  border: 1px solid black;
}

/* 내용 부분 */
.container {
  display: flex;
  /* align-items: stretch;  */
}

.vText {
  display: flex !important; /* display 가 block 일 경우 align-items 와 justify-content가 먹히지 않음*/
  flex: 2;
  align-items: center;
  justify-content: center;
}

/* .vText-container {
  text-align: center;
  /* width: max-content; 
  height: max-content;
} */

.vContent{
  flex: 8;  /* flex */
  word-break: break-all;  /* 내용 word 가 박스 width 사이즈를 벗어나지 않도록 제한 후 줄바꿈 */
  text-align: left !important;
  font-size: 20pt;
}

.board_list>div>div{
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board_list>div.board_top>div{
  font-weight: 600;
}

.board_list .num ,
.board_list .writer,
.board_list .date,
.board_list .count{
  width: 10%;
}

.board_list .title{
  width: 60%;
}

.board_list .board_top .title {
  text-align: center;
}

.board_list .board_top {
  display: flex;
  flex-direction: row;
  background: yellow;
}

/* button css */
#board_btn{
  display: flex !important;
  flex-direction: row;
  justify-content: right;
}

#board_btn > button {
  width: 80px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}